.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 1.6rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.logoLink:hover {
  filter: brightness(50%);
  /* color: var(--primary-hover); */
}

.logoLink svg {
  width: 3rem;
  height: 3rem;
}
